@model TicketManagement.WebMVC.ViewModels.PurchaseHistoryViewModels.PurchaseHistoryViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{ ViewData["Title"] = "Purchase history"; }
@{ int rowNumber = 0; }

@if (Model == null)
{
<div class="esh-event-items row">
    @Localizer["PurchaseHistiryIsEmpty"]
</div>
}
else
{
    @if (@Model.Items.Count > 0)
    {
        <table class="table">
            @foreach (var item in Model.Items)
            {
                rowNumber++;
                <tr>
                    <td class="table-number">#@rowNumber.ToString()</td>
                    <td class="table-image">
                        <div> <img src="@item.PictureUrl" /> </div>
                    </td>
                    <td class="table-event-name">@Localizer["EventName"] @item.EventName</td>
                    <td class="table-event-area-description">@Localizer["EventAreaDescription"] @item.EventAreaDescription</td>
                    <td class="table-Row">@Localizer["RowNumber"] @item.Row</td>
                    <td class="table-number-of-seat">@Localizer["NumberOfSeat"] @item.NumberOfSeat</td>
                    <td class="table-event-date-time-start">@Localizer["TheEventStartsAt"] @item.EventDateTimeStart</td>
                    <td class="table-event-date-time-end">@Localizer["TheEventEndsAt"] @item.EventDateTimeEnd</td>
                    <td class="table-price">@Localizer["Price"] @item.Price</td>
                </tr>
            }
        </table>
    }
    else
    {
<div class="esh-event-items row">
    @Localizer["PurchaseHistiryIsEmpty"]
</div>
    }
}
