@model TicketManagement.WebMVC.ViewModels.PurchaseHistoryViewModels.PurchaseHistoryViewModel

@{ ViewData["Title"] = "Purchase history"; }
@{ int rowNumber = 0; }

@if (Model == null)
{
    <div class="esh-event-items row">
        THERE ARE NO RESULTS THAT MATCH YOUR SEARCH
    </div>
}
else
{
    @if (@Model.Items.Count > 0)
    {
        <table class="table">
            @foreach (var item in Model.Items)
            {
                rowNumber++;
                <tr>
                    <td class="table-number">#@rowNumber.ToString()</td>
                    <td class="table-image">
                        <div> <img src="@item.PictureUrl" /> </div>
                    </td>
                    <td class="table-event-name">Event name @item.EventName</td>
                    <td class="table-event-area-description">Area description @item.EventAreaDescription</td>
                    <td class="table-Row">Row number @item.Row</td>
                    <td class="table-number-of-seat">Number of seat @item.NumberOfSeat</td>
                    <td class="table-event-date-time-start">The event starts at @item.EventDateTimeStart</td>
                    <td class="table-event-date-time-end">The event ends at @item.EventDateTimeEnd</td>
                    <td class="table-price">Price @item.Price</td>
                </tr>
            }
        </table>
    }
    else
    {
        <div class="esh-event-items row">
            THERE ARE NO RESULTS THAT MATCH YOUR SEARCH
        </div>
    }
}
