@model TicketManagement.WebMVC.ViewModels.BasketViewModels.BasketViewModel

@{ ViewData["Title"] = "Basket"; }
@{ int rowNumber = 0; }

@if (Model == null)
{
    <div class="esh-event-items row">
        <a class="esh-basketstatus" asp-area="" asp-controller="PurchaseHistory" asp-action="Index"> The basket is empty. Go to purchase history </a>
    </div>
}
else
{
    @if (@Model.Items.Count > 0)
    {
        <table class="table">
            @foreach (var item in Model.Items)
            {
                rowNumber++;
                <tr>
                    <td class="table-number">#@rowNumber.ToString()</td>
                    <td class="table-image">
                        <div> <img src="@item.PictureUrl" /> </div>
                    </td>
                    <td class="table-event-name">Event name @item.EventName</td>
                    <td class="table-event-area-description">Area description @item.EventAreaDescription</td>
                    <td class="table-Row">Row number @item.Row</td>
                    <td class="table-number-of-seat">Number of seat @item.NumberOfSeat</td>
                    <td class="table-event-date-time-start">The event starts at @item.EventDateTimeStart</td>
                    <td class="table-event-date-time-end">The event ends at @item.EventDateTimeEnd</td>
                    <td class="table-price">Price @item.Price</td>
                </tr>
            }
        </table>

        <div> Total price: @Model.TotalPrice.ToString("N2")</div>

        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly"></div>
            <table class="table">
                <tr>
                    <td>
                        <input type="hidden" asp-for="@Model" name="model" />
                        <input type="submit" value="Buy" name="model" />
                    </td>
                </tr>
            </table>
        </form>

    }
    else
    {
        <div class="esh-event-items row">
            <a class="esh-basketstatus" asp-area="" asp-controller="PurchaseHistory" asp-action="Index">
                The basket is empty.
                - Go to purchase history
            </a>
            <a class="esh-basketstatus" asp-area="" asp-controller="EventHomePage" asp-action="Index"> Go to purchases </a>
        </div>
    }
}
