@model TicketManagement.WebMVC.ViewModels.JsonEventViewModels.IndexViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{ ViewData["Title"] = "Events"; }

@if (@Model == null)
{
<form asp-controller="Json" asp-action="ImportJson" class="form-horizontal" enctype="multipart/form-data">
    <label>@Localizer["Upload a JSON file:"]</label>
    <input type="File" name="file" id="file" value= @Localizer["Choose json file"] class="form-control" accept="application/JSON"/>
    <input type="submit" class="btn btn-primary" value=@Localizer["Upload"] />
</form>
}

<form asp-controller="Json" asp-action="Create" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-horizontal">
        @if (@Model != null && @Model.EventItems.ToList().Count > 0)
        {
            @for (int i = 0; i < Model.EventItems.Count(); i++)
            {
                <input type="hidden" asp-for="@Model.EventItems[@i].Id " value="@Model.EventItems[@i].Id" />

                <div class="form-group">
                    <label asp-for="@Model.EventItems[@i].Name" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="@Model.EventItems[@i].Name" />
                        <span asp-validation-for="@Model.EventItems[@i].Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.EventItems[@i].Description" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="@Model.EventItems[@i].Description" />
                        <span asp-validation-for="@Model.EventItems[@i].Description"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.EventItems[@i].StartDateTime" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="@Model.EventItems[@i].StartDateTime" />
                        <span asp-validation-for="@Model.EventItems[@i].StartDateTime"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.EventItems[@i].EndDateTime" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="@Model.EventItems[@i].EndDateTime" />
                        <span asp-validation-for="@Model.EventItems[@i].EndDateTime"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.EventItems[@i].LayoutId" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="@Model.EventItems[@i].LayoutId" />
                        <span asp-validation-for="@Model.EventItems[@i].LayoutId"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        <img src="@Model.EventItems[@i].ImageUrl" />
                    </div>
                    <input type="hidden" asp-for="@Model.EventItems[@i].ImageUrl" />
                </div>


            }
        }
    </div>
    @if (Model != null)
    {
        <div>
            <input id="hider" type="submit" value="@Localizer["Create event"]" />
        </div>
    }
</form>
