@model TicketManagement.Dto.EventDto
@*<form asp-controller="Cart" asp-action="AddToCart">*@

<img class="esh-event-thumbnail" src="@Model.ImageUrl" />
@* <input class="esh-catalog-button @((!User.Identity.IsAuthenticated) ? "is-disabled" : "")" type="submit" value="[ ADD TO CART ]" />*@

<div class="esh-event-name">
    <span>@Model.Name</span>
</div>
<span>@Model.Description</span>

<div class="esh-event-description">
    <span>@Model.Description</span>
</div>

<div class="esh-event-duration">
    <span>@Model.StartDateTime</span>
    <span>@Model.EndDateTime</span>
</div>

<div class="esh-event-available-seats">
    <span>@Model.AvailableSeats</span>
</div>

<div class="esh-event-price">
    <span>@Model.PriceFrom.ToString("N2")</span>
    <span>@Model.PriceTo.ToString("N2")</span>
</div>
@*<input type="hidden" asp-for="@Model.Id" name="id" />*@
@*</form>*@
