@model TicketManagement.WebMVC.ViewModels.ProfileViewModels.ProfileViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer

@{
    ViewBag.Title = "User profile";
}

<form asp-action="Deposit" asp-controller="Profile">
    <table class="table">

        <tr><th>@Model.FirstName</th></tr>
        <tr>
            <td>
                @_localizer["Balance"] - @Model.Balance <span> @_localizer["Currency"]</span>
            </td>
            <td>
                <div class="form-group">
                    <input type="hidden" asp-for="Id" />
                    <input type="text" asp-for="Balance" class="form-control" />
                </div>
            </td>
            <td>
                <div class="form-group">
                    <input type="submit" value="@_localizer["Deposite"]" class="btn btn-sm btn-primary" />
                </div>
            </td>
        </tr>
    </table>
</form>

<table class="table">
    <tr>
        <td>@_localizer["FirstName"] - @Model.FirstName</td>
        <td>
            <a class="btn btn-sm btn-primary" asp-action="EditFirstName" asp-route-id="@Model.Id">@_localizer["EditFirstName"]</a>
        </td>
    </tr>
    <tr>
        <td>@_localizer["Surname"] - @Model.Surname</td>
        <td>
            <a class="btn btn-sm btn-primary" asp-action="EditSurname" asp-route-id="@Model.Id">@_localizer["EditSurname"]</a>
        </td>
    </tr>
    <tr>
        <td>@_localizer["Email"] - @Model.Email</td>
        <td>
            <a class="btn btn-sm btn-primary" asp-action="EditEmail" asp-route-id="@Model.Id">@_localizer["EditEmail"]</a>
        </td>
    </tr>
    <tr>
        <td>
            <a class="btn btn-sm btn-primary" asp-action="EditPassword" asp-route-id="@Model.Id">@_localizer["EditPassword"]</a>
        </td>
    </tr>
</table>

<table class="table">
    <tr>
        <td>@_localizer["Language"]</td>
        <td>
            <div class="container">
                @await Html.PartialAsync("_SelectLanguagePartial")
            </div>
        </td>
    </tr>
</table>

<table class="table">
    <tr>
        <td>@_localizer["TimeZone"]</td>
        <td>
            <div class="container">
                <p>
                    @await Html.PartialAsync("_SelectTimeZonePartial")
                </p>
            </div>
        </td>
    <tr>
</table>

<div>
    <a asp-area="" asp-controller="PurchaseHistory" asp-action="Index"> @_localizer["SeePurchaseHistory"]</a>
</div>
