@model TicketManagement.Dto.EventAreaDto
@using Microsoft.AspNetCore.Mvc.Localization
@using TicketManagement.DataAccess.Domain.Enums
@inject IViewLocalizer _localizer

<div class="esh-event-area-name">
    <span>@_localizer["ModelDescription"]: @Model.Description</span>
</div>

<div class="container">
    @if (Model.EvenSeats.Any())
    {
        <div class="esh-event-seat-item col-md-4">
            @foreach (var item in Model.EvenSeats)
            {
                @if (item.State == States.Available)
                {
                    <form asp-controller="Basket" asp-action="AddToBasket">
                        <input type="hidden" asp-for="@Model.Id" name="id" />
                        <input type="hidden" asp-for="@item.Id" name="itemId" />
                        <input type="hidden" asp-for="@item.State" name="itemState" />
                        <input class="button button1" type="submit" value="@_localizer["Row"]: @item.Row @_localizer["Number"]: @item.Number" />
                    </form>
                }
                else
                {
                    <form asp-controller="Basket" asp-action="RemoveFromBasket">
                        <input type="hidden" asp-for="@Model.Id" name="id" />
                        <input type="hidden" asp-for="@item.Id" name="itemId" />
                        <input type="hidden" asp-for="@item.State" name="itemState" />
                        <input class="button button1 clicked" type="submit" value="@_localizer["Row"]: @item.Row @_localizer["Number"]: @item.Number" />
                    </form>
                }
            }
        </div>
    }
    else
    {
        <div class="esh-event-seat-items row">
            @_localizer["ThereIsNoSuchEvent"]
        </div>
    }
</div>



<script type="text/javascript">

    var buttons = document.getElementsByTagName('input');

    function paintItBlack() {

        for (var i = 0; i < buttons.length; i++) {
            buttons[i].classList.remove('clicked');
        }

        this.classList.add('clicked');
    }

    for (var i = 0; i < buttons.length; i++) {
        buttons[i].addEventListener('click', paintItBlack, false);
    }

</script>
